<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

header, footer {
	text-align: center;
	background-color: beige;	/* 좁아서 마음에 안들면 패딩주기 혹은 height로 직접 조절하기 */
	padding: 10px 0;	/* 위아래 영역이 늘어남 -> 더 적절 */

/* 	height: 150px; */
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.content .content-left {
	float: left;
	width: 28%;
}

.content .content-right {
	float: right;
	width: 68%;
}

.clearfix {
	clear: both;
	height: 0;
	overflow: hidden;
}


</style>

</head>
<body>

<!-- <div> -->
<!-- 	<h1>POSITION 테스트</h1> -->
<!-- 	<h3>relative, absolute 이용한 화면 분할</h3> -->
<!-- </div> -->

<header>
	<h1>POSITION 테스트</h1>
	<h3>relative, absolute 이용한 화면 분할</h3>
</header>

<div class="wrapper">
	<main class="content">
		<div class="content-left">
		
		<h2>별 헤는 밤</h2>
		
		<p>했던 계집애들의 이 계십니다. 나는 무엇인지 별빛이 이런 아침이 버리었습니다. 어머니 별 별 추억과 다 하나에 이름을 계십니다. 노새, 다 쉬이 언덕 버리었습니다. 때 별빛이 별 다하지 패, 봅니다. 멀듯이, 노새, 마디씩 계십니다. 시와 했던 추억과 나의 가난한 이런 별들을 별 까닭입니다. 경, 프랑시스 묻힌 나는 어머님, 거외다. 계집애들의 파란 했던 이네들은 오는 불러 이름과, 봅니다.</p>
		
		<p>다 지나고 벌레는 까닭입니다. 써 별 노새, 어머님, 슬퍼하는 없이 있습니다. 벌레는 별 겨울이 별들을 피어나듯이 있습니다. 헤는 하나에 그리워 내린 청춘이 벌써 불러 하나에 까닭입니다. 나의 하늘에는 이 경, 계집애들의 나는 거외다. 추억과 위에 보고, 별 봅니다. 사람들의 별 내 토끼, 써 계십니다. 못 시인의 이름과, 내일 이름과, 별이 계십니다. 토끼, 별 같이 겨울이 슬퍼하는 있습니다. 많은 계절이 딴은 노루, 가을로 어머니, 멀듯이, 경, 이 거외다. 계집애들의 시와 나의 많은 다 비둘기, 이름을 내린 봅니다.</p>
		
		<p>청춘이 잔디가 못 봅니다. 한 이제 이름과, 새워 멀리 헤는 풀이 나의 별 듯합니다. 하나에 써 걱정도 잔디가 차 속의 별 이제 봅니다. 패, 하나에 마디씩 지나고 차 별 나는 밤을 별 까닭입니다. 경, 부끄러운 겨울이 하나에 소학교 릴케 내일 계십니다. 북간도에 부끄러운 지나가는 가을 시와 가난한 멀리 이런 묻힌 까닭입니다. 별 아침이 덮어 자랑처럼 있습니다. 어머님, 부끄러운 나의 이네들은 멀리 라이너 있습니다. 나는 이국 말 어머님, 가을 까닭입니다. 무성할 이름자 벌레는 아름다운 까닭이요, 시와 풀이 이름과, 봅니다. 그러나 많은 아이들의 위에 소학교 파란 까닭입니다.</p>
		
		</div>
	
		<div class="content-right">
		
		<h2>청춘 예찬</h2>
		
		<p>예가 없으면, 그것은 이것이다. 오직 인생에 내려온 이상이 구하지 얼마나 못할 봄바람이다. 뜨고, 동력은 이상을 관현악이며, 너의 없는 위하여, 실로 약동하다. 두기 보내는 커다란 창공에 심장의 이상 하였으며, 운다. 길지 피고, 봄날의 있는 천자만홍이 때문이다. 천하를 속잎나고, 투명하되 귀는 든 인생을 봄바람이다. 얼마나 그것을 청춘의 가는 앞이 고행을 무한한 주는 우리는 철환하였는가? 얼마나 뜨고, 보이는 가장 소담스러운 밝은 청춘 착목한는 이상을 쓸쓸하랴? 전인 온갖 모래뿐일 부패뿐이다.</p>
		
		<p>커다란 시들어 속잎나고, 갑 인생에 타오르고 사라지지 것이다. 하였으며, 풍부하게 불어 용감하고 아니다. 인간의 인간이 이것이야말로 이상은 소리다.이것은 얼마나 원질이 곳이 가치를 봄바람이다. 새 이성은 것이 운다. 찬미를 따뜻한 구하지 보는 사랑의 위하여서 뛰노는 말이다. 관현악이며, 얼마나 두손을 같지 끓는 있다. 대한 만천하의 곳이 아니다. 얼마나 꽃이 얼마나 피는 청춘이 바이며, 스며들어 이것이다. 길을 이상의 실현에 보배를 얼음에 모래뿐일 무엇을 듣는다. 어디 맺어, 무엇을 목숨을 그러므로 남는 것이다.</p>
		
		<p>남는 그것을 청춘의 위하여 수 철환하였는가? 인간의 기관과 그들에게 방지하는 가진 같이, 피어나기 </p>
		
		</div>
	</main>
</div>

<div class="clearfix"></div>

<footer>
&copy; Gayeong.
</footer>

</body>
</html>