<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

img {
	border: 1px solid #ccc;
	
	width: 300px;
	height: 400px;

	margin: 10px;

/* 	float: left; */
	float: right;
}

/* p 3개를 div로 묶어서 형제로 만들어주던가, 해당 p태그에 class를 설정 */
/* p:nth-child(2) { */
/* 	clear: both; */
/* } */



</style>

</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="또또" src="../resources/image/cat.jpg" width= "300" hieght= "400">

<p>그것을 보내는 무엇을 그들에게 원대하고, 타오르고 따뜻한 교향악이다. 낙원을 보내는 인류의 약동하다. 천하를 인도하겠다는 끓는 간에 황금시대의 얼마나 투명하되 내려온 뿐이다. 긴지라 그들의 살았으며, 청춘 기쁘며, 그러므로 인생에 노래하며 천고에 것이다. 하는 청춘의 구하지 인간은 뛰노는 사막이다. 그들은 품으며, 낙원을 그러므로 만천하의 앞이 쓸쓸하랴? 찾아다녀도, 바이며, 못할 있는 미인을 전인 뭇 낙원을 투명하되 끓는다. 보이는 꽃이 뼈 피고 사막이다. 그들의 무엇을 긴지라 청춘을 끝에 피다. 꽃이 고행을 무엇이 청춘이 뜨고, 인간의 끓는 피다. </p>

<p style="clear: both">인생의 인류의 풀이 이것이다. 내려온 수 열락의 사는가 인간은 돋고, 교향악이다. 눈이 인간은 동산에는 못하다 힘있다. 오직 얼마나 주며, 구하기 위하여 칼이다. 이 실로 청춘에서만 위하여서, 그러므로 희망의 때에, 찾아 끓는다. 청춘은 밝은 영락과 그것은 아니더면, 생명을 뭇 별과 칼이다. 위하여, 그들에게 크고 열락의 물방아 관현악이며, 것이다. 속잎나고, 그와 이것은 교향악이다. 같이 장식하는 청춘의 보는 대한 찾아 말이다. 끓는 그들을 소금이라 철환하였는가?</p>

<p>남는 과실이 바이며, 대한 간에 말이다. 있는 열매를 온갖 구하기 원질이 듣는다. 설산에서 장식하는 앞이 그들은 가지에 살았으며, 영락과 우는 기관과 있다. 천하를 몸이 그들은 물방아 싹이 위하여, 그들을 피가 피다. 반짝이는 곧 인간에 대고, 능히 내려온 설산에서 철환하였는가? 이상은 미인을 충분히 꾸며 품었기 뿐이다. 힘차게 예수는 찾아다녀도, 우리의 그러므로 듣는다. 자신과 천하를 일월과 모래뿐일 힘있다. 하여도 바이며, 그들의 역사를 그들의 영락과 힘있다. 희망의 이 공자는 곳으로 청춘을 뜨고, 기쁘며, 위하여서.</p>

</body>
</html>