<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div {
	border: 1px solid #ccc;
	
	/* 내용물만큼만 자리를 차지, 빈 공간은 다른 내용물을 위해 비워둠 / 공간이 충분하면 한 줄에 전부 위치하기도 가능 */
	/* 레이아웃이 배치되는 흐름 방향을 설정 */
/* 	float: left; */

	/* 먼저 작성된 녀석이 제일 오른쪽으로 */
	float: right;
}

</style>

</head>
<body>

<h1>레이아웃 흐름 속성</h1>
<h3>float</h3>
<hr>

<div>DIV1 안녕하세요</div>

<div>DIV2 안녕하세요 DIV2 안녕하세요</div>

<div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요</div>


</body>
</html>